.input{
    height: 45px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.send{
    display: flex;
    align-items: center;
    gap: 10px;
}
.input input{
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 16px;
}
.input input::placeholder{
    color: lightgray;
}
.send img{
    height: 24px;
    cursor: pointer;
}
.send button{
    border: none;
    padding: 8px 15px;
    color: white;
    background-color:#8da4f1;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .input{
        height: 26px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .send{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .input input{
        width: 100%;
        font-size: 12px;
    }
    .send img{
        height: 20px;
    }
    .send button{
        padding: 6px 8px;
    }
}