/* body{
    position: fixed;
} */
.formContainer{
    /* background-color: #a7bcff; */
    background: url("./img/background.jpg") ;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper{
    background-color: rgba(255, 255, 255, 0.866);
    padding: 20px 60px;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
} 
 form{ 
    /* background-color: white; */
    display: flex;
    flex-direction:column;
    gap: 15px;
}
.logo{
    color: #5b5b8d;
    font-weight: bold;
    font-size: 22px;
}
.mainLogo{
    margin-bottom:-13px;
    width:40px;
    height:40px;
}
.title{
    margin-top: -10px;
    color: #5b5b8d;
    font-weight: bold;
    font-size: 17px;
}
.formWrapper input{
    padding: 8px 10px;
    border-radius: 4px;
    border:2px solid rgba(108, 108, 108, 0.87);
    /* border-bottom:1px solid#a7bcff; */
    width: 250px;
    font-size: 14px;
}
.formWrapper input::placeholder{
    color: rgb(95, 92, 92);
}
button{
    background-color:#7b96ec ;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.formWrapper p{
    color: #000000;
    font-size: 16px;
    margin-top: 0px;
}
label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #0d0d0d;

}
img{
    height: 32px;

}

@media screen and (max-width:800px) {
    .formWrapper{
        padding: 15px 30px;
        gap: 5px;
    } 
     form{ 
        gap: 10px;
    }
    .logo{
        font-size: 18px;
    }
    .mainLogo{
        margin-bottom:-13px;
    }
    .title{
        margin-top: 0px;
        font-size: 17px;
        margin-bottom: 5px;
    }
    .formWrapper input{
        padding: 6px 9px;
        width: 200px;
        font-size: 14px;
    }
    button{
        padding: 9px;
    }
    /* .formWrapper p{
        font-size: 16px;
        margin-top: 0px;
    } */
    label{
        gap: 5px;
        font-size: 15px;
    }
    img{
        height: 30px;
    } 
}